.container{
    display: flex;
    margin: auto;
    margin-top: 200px;
    background: white;
    height: 400px;
    width: 400px;
}

.header{

    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.text{
  
     font-size: 40px;
     font-style: normal;
     color: rgb(17, 12, 22);
     font-weight: 600;
     
}
